/* shrink headerbars (don't forget semicolons after each property) */
headerbar {
    min-height: 35px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 0px; /* same as headerbar side padding for nicer proportions */
    margin-bottom: 0px;
}

.default-decoration .titlebutton {
    min-height: 21px; /* tweak these two props to reduce button size */
    min-width: 21px;
}

window.ssd headerbar.titlebar {
    padding: 1px;
    min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
    padding-top: 3px;
    padding-bottom: 3px;
    min-height: 0;
}